.profile {
  background-color: #f1f1f1;
  margin-left: 8%;
  height: 100%;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_details_grp {
  height: 90%;
  width: 90%;
  border-radius: 15px;
  border: 2px solid rgb(161, 40, 231);
  filter: drop-shadow(2px 2px 2px rgb(0 0 0/0.4));
  display: flex;
  justify-content: center;
  align-items: center;
}
.child_grp {
  height: 50%;
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.profile_details_grp_child1 {
  flex: 0.4;
}
.profile_details_grp_child1 > img {
  height: 150px;
  width: 150px;
  border-radius: 30px;
  margin-left: 80px;
}
.profile_details_grp_child2 {
  flex: 0.6;
}
